
<h1 style = "font-size: 60px;"><%= @article.title %></h1>
<p style = "text-align:center;"><em><%= @article.subtitle %></em></p>
<p style = "text-align:center;">Written by: <%= link_to @article.user.first_name.capitalize, user_path(@article.user_id) %></p>
<div class = "content">
    <%= @article.content %>
</div>